body {
    background: #bcd689  !important;
    color: #495433  !important;
    font-family: verdana, arial, helvetica, sans-serif  !important;
    margin: 0  !important;
    padding: 0  !important;
}

/*  Box containing page title
 * 
 * (overriding bootstrap CSS in some cases)
 *  */
.page-header {
    border-bottom: 1px solid #495433 !important;
    color: #495433;
    background-color: #95ab6c;
    margin: 0 0 1em 0;
    padding: 0.5em 1em 0.5em 2em; 
}

/* Recipe title */
.recipe-title {
   margin-top:  0.5em;
   font-weight: bold;
   display:block;
    
} 

/*  Ingredients */
.recipe-ingredient {
    margin-left: 2em;
}

div.dcContentBlock {
    margin-left: 2em;
    margin-top: 1em;
}

span.selected {
    background-color: #e4eef0;
}


.message-error {
    background-color: #ffcccc;
    border: 2px solid #ff0000;
    color: #000000;   
    padding: 0.5em;
}

.message-warning {
    background-color: #ffe0b3;
    border: 2px solid #cc7a00;
    color: #000000;   
    padding: 0.5em;
}
.message-info {
    background-color: #ccffcc;
    color: #000000;   
    padding: 0.5em;
}


/*  override styles for betterForm */

/* .xfRepeatIndex is the selected item in the form */
.xfRepeatIndex {
    background-color: #E6D9A6;
}



/* Application styles could go here */
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

/* MEDIA-SPECIFIC STYLES */

@media ( max-width: 800px ) {

    input.xforms-input {
        width: 80%;
    }

}

@media ( min-width: 800px ) {

}