<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
<!--        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>-->
        <script type="text/javascript" src="resources/js/jquery-3.6.0.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        
        <script src="resources/Saxon-JS-2.3/SaxonJS2.rt.js"/>
        
        <script>
            window.onload = function() {
                SaxonJS.transform({
                    "stylesheetLocation":"resources/sef/saxon-xforms.sef.json",
                    "sourceLocation":"resources/xf/recipeForm.xml",
                }, "async")
            };     

      </script>
 <!--       <script>
      window.onload = function() {
        SaxonJS.transform({
           "stylesheetLocation":"resources/sef/saxon-xforms.sef.xml",
           "initialTemplate":"xformsjs-main"
           })
      }     
      </script>
        
        <script>
      window.onload = function() {
        SaxonJS.transform({
           "stylesheetLocation":  "resources/sef/saxon-xforms.sef.xml",
           "sourceLocation":      "resources/xf/recipeForm.xml",
           "stylesheetParams":    {
                "xforms-file":   "../xf/recipeForm.xml",
                "LOGLEVEL": 40
                }
           })
      }     
      </script> -->
    </head>
    <body id="body">
        <div id="container-body" class="container-fluid"/>
        <footer>
            <a class="poweredby" href="http://exist-db.org">
                <img src="$shared/resources/images/powered-by.svg" alt="Powered by eXist-db"/>
            </a>
        </footer>
    </body>
</html>